.nav a {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: 20px 15px;
	text-transform: uppercase;
}

.nav li {
	display: inline;
	padding: 60px;
	border: 10px;
}

.jumbotron {

	height: 1500px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 -150px;
}

.jumbotron .container {
	position: relative;
	top: 100px;
}

h1 {
	color: #fff;
	font-size: 68px;
	font-family: 'Shift', sans-serif;
	font-weight: bold;
	text-align: center;
	padding: 20px 0px;
	text-shadow: 1px 1px #FF9933;
}

p {
	font-size: 20px;
	color: #FF9933;
	text-align: center;
}

#front {
	font-size: 15px;
}

a:hover, a.hover {
	text-decoration: none;
}

h2 {
	color: #fff;
	text-align: center;
}

ul {
	color: #fff;
	font-weight: bold;
	line-height: 30px;
	position: center;
	list-style-type: none;
}

ul.first {
	color: #fff;
}

#Obj {
	color: #FF9933;
}

.nav {
	background: rgba(0,0,0,.7);
	border: 5px;
	padding: 10px;
}

ul.pull-left {
	padding-top: 25px;
}

ul.pull-right {
	padding-top: 25px;
}

.row {
	background: rgba(0,0,0,.5);
	border-radius: 5%;
}

.row li {
	margin: 15px 0;
}

img {
	max-width:200px;
	border-radius: 100%;
	display:block;
	margin: 0 auto;
}

.container a {
	color: #fff;
	font-weight: bold;
}

.container p {
	color:#fff;
	font-weight: bold;
	line-height: 40px;
	text-shadow: 1px 1px #FF9933;
}

.container h1, p {
	padding: 20px;
}

.footer p {
	color: #FF9933;
	position: relative;
	margin-top: 150px;
	text-align: center;
	padding: 50px;
	font-size: 15px;
	text-shadow: none;
	font-weight: normal;
}

span {
	color: hsla(0, 100%, 30%, 0.8);
	text-shadow: none;
}

body {
background-image:url('aldeyjarfoss.jpg');
background-repeat: no-repeat;
background-size: cover;
}